.AddPlantForm {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.AddPlantForm form button {
  background-color: rgb(39, 78, 19);
  margin: 0 5px;
}
.AddPlantForm form button:hover {
  background-color: #555;
}
.AddPlantForm button {
  margin: 0 5px;
  background-color: red;
}
.AddPlantForm button:hover {
  background-color: darkred;
}
