.AddPlantForm {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.AddPlantForm form button {
  background-color: rgb(39, 78, 19);
  margin: 0 5px;
}

.AddPlantForm form button:hover {
  background-color: rgb(39, 78, 19);
  opacity: 0.7;
}

.AddPlantForm button {
  margin: 0 5px;
  background-color: #555;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.AddPlantForm button:hover {
  background-color: #807979;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
