.ClickedPlantDetails {
  z-index: 1;
}
.ClickedPlantDetails ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}
.ClickedPlantDetails button {
  background-color: red;
}
.ClickedPlantDetails button:hover {
  background-color: darkred;
}
