.LandingPage {
  background-image: url("../assets/landing-page-mobile-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.LandingPage #logo-container {
  text-align: left;
  position: absolute;
  top: 0px;
  left: 10px;
}

.LandingPage .logo {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
}

.LandingPage #logo-container .slogan {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(39, 78, 19);
  font-size: 18px;
}

.LandingPage #paragraph-container {
  margin: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(39, 78, 19);
  font-size: 20px;
}

.LandingPage h1 img {
  width: 65%;
  height: auto;
}

.LandingPage .clover-image {
  width: 50px;
  filter: brightness(50%) drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
}

.LandingPage button {
  padding: 15px 25px;
  background-color: rgb(39, 78, 19);
  color: rgb(248, 240, 227);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  margin-top: 50px;
}

.LandingPage button:hover {
  background-color: #555;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 768px) {
  .LandingPage {
    background-image: url("../assets/plant-parenthood-background.jpg");
  }

  .LandingPage h1 img {
    width: 65%;
    height: auto;
  }

  .LandingPage #logo-container {
    top: 10px;
    left: 25px;
    margin: 0;
  }

  .LandingPage #logo-container .slogan {
    font-size: 20px;
  }

  .LandingPage #paragraph-container {
    font-size: 25px;
  }
}

@media only screen and (min-width: 821px) {
  .LandingPage h1 img {
    width: 55%;
    height: auto;
  }
}
@media only screen and (min-width: 1250px) {
  .LandingPage h1 img {
    width: 45%;
    height: auto;
  }
}
