.PlantCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 5px;
  background-image: linear-gradient(
    135deg,
    rgba(253, 252, 251, 0.85) 0%,
    rgba(226, 209, 195, 0.85) 100%
  );
  border-radius: 5px;
}

.PlantCard #plant-delete {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 3px;
  margin: 3px;
  padding: 1px 8px;
  font-size: 22px;
  font-weight: bold;
  background: none;
  color: rgb(92, 101, 110);
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.PlantCard #plant-delete:hover {
  background-image: linear-gradient(
    135deg,
    rgba(253, 252, 251, 0.9) 0%,
    rgba(226, 209, 195, 0.9) 100%
  );
}

.PlantCard #plant-delete:active {
  background-image: linear-gradient(
    135deg,
    rgba(253, 252, 251, 0.2) 0%,
    rgba(226, 209, 195, 0.2) 100%
  );
}

.PlantCard img {
  width: 250px;
  height: 250px;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
}

.PlantCard p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 15px 0 0 0;
}

.PlantCard #watered-date-container {
  display: flex;
}

.PlantCard form {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}
.PlantCard label {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}
.PlantCard #date-input {
  display: flex;
}
.PlantCard form input {
  padding: 5px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  flex: 3;
}
.PlantCard form button {
  padding: 5px 0;
  flex: 1;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-left: 5px;
}

.PlantCard #calendar {
  padding: 8px 16px;
  margin-left: 4px;
  flex: 1;
}

.PlantCard .watered {
  color: black;
  font-weight: bold;
}

.PlantCard .waterMe {
  color: black;
  background-color: rgb(123, 175, 243);
  border-radius: 5px;
  font-weight: bold;
  flex: 3;
  padding: 3px 0;
}

.PlantCard .overdue {
  color: black;
  background-color: rgb(240, 182, 34);
  border-radius: 5px;
  font-weight: bold;
  padding: 3px 0;
}

.PlantCard #edit-button {
  cursor: pointer;
  margin-top: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
