.PlantCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5px;
}

.PlantCard img {
  width: 250px;
  height: 250px;
}

.PlantCard .watered {
  color: white;
  background-color: rgb(59, 59, 165);
}
.PlantCard .watered:hover {
  color: white;
  background-color: rgb(128, 128, 161);
}

.PlantCard .waterMe {
  color: black;
  background-color: rgb(118, 188, 235);
}
.PlantCard .waterMe:hover {
  background-color: rgb(148, 166, 177);
}

.PlantCard .overdue {
  color: black;
  background-color: rgb(240, 237, 34);
}
.PlantCard .overdue:hover {
  background-color: rgb(206, 186, 9);
}

.PlantCard #plant-delete {
  background-color: rgb(224, 9, 9);
}
.PlantCard #plant-delete:hover {
  background-color: darkred;
}
